# ---Common --- #
region               = "<aws-region>"
friendly_name_prefix = "<sandbox>" # typically either environment (e.g. 'sandbox', 'prod') or team name
common_tags = {
  App   = "TFE"
  Env   = "<sandbox>"
  Owner = "<TeamName>"
}

# --- Bootstrap --- #
tfe_license_secret_arn             = "<my-tfe-license-secret-arn>"
tfe_encryption_password_secret_arn = "<my-tfe-encryption-password-secret-arn>"
tfe_tls_cert_secret_arn            = "<my-tfe-tls-cert-secret-arn>"
tfe_tls_privkey_secret_arn         = "<my-tfe-tls-cert-private-key-secret-arn>"
tfe_tls_ca_bundle_secret_arn       = "<my-tfe-tls-ca-bundle-secret-arn>"
container_runtime                  = "podman"

# --- TFE config settings --- #
tfe_fqdn      = "<tfe.aws.example.com>"
tfe_image_tag = "<v202408-1>"

# --- Networking --- #
vpc_id                     = "<my-vpc-id>"
lb_subnet_ids              = ["<my-lb-subnet-id-a>", "<my-lb-subnet-id-b>", "<my-lb-subnet-id-c>"]          # private subnets
lb_is_internal             = true
ec2_subnet_ids             = ["<my-ec2-subnet-id-a>", "<my-ec2-subnet-id-b>", "<my-ec2-subnet-id-c>"]       # private subnets
rds_subnet_ids             = ["<my-db-subnet-id-a>", "<my-db-subnet-id-b>", "<my-db-subnet-id-c>"]          # private subnets
redis_subnet_ids           = ["<my-redis-subnet-id-a>", "<my-redis-subnet-id-b>", "<my-redis-subnet-id-c>"] # private subnets
cidr_allow_ingress_tfe_443 = ["<10.0.0.0/16>", "<192.168.1.0/24>", "<192.168.2.0/24>"]                      # CIDR ranges of TFE users/clients, VCS
cidr_allow_ingress_ec2_ssh = ["<10.0.0.0/16>"]

# --- DNS (optional) --- #
create_route53_tfe_dns_record      = <true>
route53_tfe_hosted_zone_name       = "<aws.example.com>"
route53_tfe_hosted_zone_is_private = <true>

# --- Compute --- #
ec2_os_distro      = "rhel"
ec2_ssh_key_pair   = "<my-ec2-key-pair>"
asg_instance_count = 1

# --- Database --- #
tfe_database_password_secret_arn = "<my-database-password-secret-arn>"
rds_skip_final_snapshot          = <false>

# --- Redis --- #
tfe_redis_password_secret_arn = "<my-redis-password-secret-arn>"

# --- Log forwarding (optional) --- #
tfe_log_forwarding_enabled = <true>
log_fwd_destination_type   = "<s3>"
s3_log_fwd_bucket_name     = "<tfe-logging-bucket-name>"
